/* MISC */
* {
  margin: 0;
  padding: 0;
  font-family: 'Hind';
  box-sizing: border-box; }

/* PARTIALS*/
/*nav*/
header {
  padding-top: 0.25rem;
  z-index: 30; }
  header .navegador {
    background-color: #e80000;
    z-index: 30; }
    header .navegador .bg-dark {
      background-color: #e80000 !important;
      z-index: 30; }
    header .navegador .background {
      background: linear-gradient(#e80000, #f93232);
      color: #f9fffb;
      padding: 3vh;
      gap: 10vw;
      z-index: 30; }
    header .navegador nav {
      position: fixed;
      width: 100%;
      top: 0%;
      z-index: 30; }
      header .navegador nav .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: rgba(115, 115, 139, 0);
        border: 1px solid white;
        border-radius: 0.25rem; }
      header .navegador nav .navbar-dark .navbar-toggler {
        color: white;
        border-color: white; }
      header .navegador nav .nav-item a {
        text-decoration: none;
        color: white; }
      header .navegador nav .nav-item .btn-outline-secondary {
        color: white;
        background-color: transparent;
        background-image: none;
        border-color: #ffffff00 !important; }
        header .navegador nav .nav-item .btn-outline-secondary:hover {
          color: white;
          background-color: #001a70; }
      header .navegador nav .nav-item .btn-outline-success {
        color: #f9fffb;
        background-color: transparent;
        background-image: none;
        border-color: white; }
      header .navegador nav .nav-item .btn-outline-secondary:not(:disabled):not(.disabled).active,
      header .navegador nav .nav-item .btn-outline-secondary:not(:disabled):not(.disabled):active,
      header .navegador nav .nav-item .show > .btn-outline-secondary.dropdown-toggle {
        color: #e80000;
        background-color: white;
        border-color: white; }
      header .navegador nav .nav-item .btn-outline-success:not(:disabled):not(.disabled).active,
      header .navegador nav .nav-item .btn-outline-success:not(:disabled):not(.disabled):active,
      header .navegador nav .nav-item .show > .btn-outline-success.dropdown-toggle {
        color: #e80000;
        background-color: white;
        border-color: white; }
  header #carouselExampleControls {
    position: absolute;
    z-index: -2;
    justify-content: center; }
    header #carouselExampleControls .carousel-inner {
      max-height: 600px; }
      header #carouselExampleControls .carousel-inner .carousel-item img {
        background-position: bottom bottom; }
  header .header__images {
    position: relative;
    top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 9em 0px 5vw;
    flex-wrap: wrap;
    gap: 10%; }
    header .header__images__logo {
      margin-bottom: 2vw;
      z-index: 10;
      height: auto;
      width: 55vw;
      max-width: 500px;
      min-width: 280px; }
    header .header__images__social-media {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 2vw 0px;
      gap: 2em; }
      header .header__images__social-media__img {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10; }
        header .header__images__social-media__img .img__link {
          width: 3em;
          height: auto;
          transition: all 1s;
          height: auto;
          width: 7vw;
          max-width: 65px;
          min-width: 40px; }
          header .header__images__social-media__img .img__link:hover {
            transform: scale(1.2); }

/*Section: footer*/
.section-footer {
  display: flex;
  justify-content: center;
  background-color: #e80000;
  font-size: 0.8em; }
  .section-footer footer {
    background-color: #e80000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 2fr;
    grid-template-rows: repeat(1fr, 2);
    padding: 1% 15%;
    color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    row-gap: 50px;
    column-gap: 100px; }
    .section-footer footer div a img {
      width: 3em;
      height: auto; }
    .section-footer footer #footer__item1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .section-footer footer #footer__item2 {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2; }
    .section-footer footer #footer__item3 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3; }
    .section-footer footer #footer__item4 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
    .section-footer footer #footer__item5 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3; }
    .section-footer footer #footer__item6 {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3; }

@media screen and (max-width: 769px) {
  .section-footer {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center; }
    .section-footer footer {
      background-color: #e80000;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: white;
      width: 100%;
      font-size: 0.6em;
      padding: 7%; }
    .section-footer footer div a img {
      width: 3em;
      height: auto; }
    .section-footer #footer__item2 {
      display: none; }
    .section-footer #footer__item6 {
      display: none; } }

/*Section: footer*/
/* VIEWS*/
/*Section: introduction*/
.main__conteiner {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 12vw; }
  .main__conteiner .introduction {
    background-color: #153866;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 2s; }
    .main__conteiner .introduction__video {
      min-width: 300px;
      height: auto;
      margin: 10px 10px 0 10px;
      overflow: hidden; }
    .main__conteiner .introduction__text {
      font-size: 1.2em;
      background-color: #153866;
      display: flex;
      flex-direction: column;
      gap: 1.3em;
      padding: 2em;
      max-width: 600px; }
      .main__conteiner .introduction__text .text__p {
        font-size: 0.8em; }
      .main__conteiner .introduction__text .parent-introduction__button {
        display: flex;
        justify-content: end; }
        .main__conteiner .introduction__text .parent-introduction__button .introduction__button {
          font-weight: bolder;
          font-size: 0.5em;
          background-color: white;
          color: #153866;
          text-decoration: none;
          border: none;
          justify-items: end;
          align-self: flex-end;
          border-radius: 10%;
          padding: 20px;
          transition: all 1s; }
          .main__conteiner .introduction__text .parent-introduction__button .introduction__button:hover {
            transform: scale(1.2); }

@keyframes lupa {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 910px) {
  .introduction {
    flex-wrap: wrap; } }

/*Section: introduction*/
/*Section: aplicaciones*/
#aplicaciones-conteiner {
  display: flex;
  justify-content: center;
  margin-top: 7vw; }
  #aplicaciones-conteiner .aplicaciones {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    max-height: 400px;
    overflow: visible;
    width: fit-content;
    margin-bottom: 3vw; }
    #aplicaciones-conteiner .aplicaciones__img {
      grid-column-start: 0;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 4;
      padding: 3%; }
    #aplicaciones-conteiner .aplicaciones__img img {
      width: 30em;
      height: auto;
      z-index: -8; }
    #aplicaciones-conteiner .aplicaciones__title {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      text-align: center;
      color: #153866;
      align-self: center; }
      #aplicaciones-conteiner .aplicaciones__title h2 {
        font-size: 3vw; }
    #aplicaciones-conteiner .aplicaciones__list {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      list-style: none;
      padding: 5%;
      color: #153866;
      grid-row: 3; }
      #aplicaciones-conteiner .aplicaciones__list ul li {
        font-size: 1vw;
        padding-top: 5%; }
    #aplicaciones-conteiner .aplicaciones__button-container {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
      justify-self: end; }

.aplicaciones__button, .contact .form form .form__button {
  background-color: #E62709;
  border: none;
  justify-items: end;
  text-decoration: none;
  border-radius: 10%;
  color: white;
  padding: 5px;
  font-weight: bolder;
  margin-right: 6em;
  transition: all 1s; }
  .aplicaciones__button:hover, .contact .form form .form__button:hover {
    transform: scale(1.2); }

.aplicaciones-button {
  background-color: #e80000;
  color: white;
  border: none;
  justify-items: end;
  text-decoration: none;
  border-radius: 10%;
  padding: 5px;
  font-weight: bolder;
  margin-right: 6em;
  transition: all 1s; }
  .aplicaciones-button:hover {
    transform: scale(1.2); }

/*Section: aplicaciones*/
/*Section: ubicacion*/
.ubicacion {
  display: flex;
  justify-content: center;
  background: linear-gradient(#fefefe, #b1d3ff); }
  .ubicacion-section {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    justify-content: space-around;
    align-items: center;
    padding: 6%;
    gap: 20%; }
    .ubicacion-section-text {
      color: #153866;
      padding: 10%; }
      .ubicacion-section-text h2 {
        font-weight: 4vw;
        font-size: 3vw; }
      .ubicacion-section-text h6 {
        font-size: 1.5vw; }
    .ubicacion-section-item iframe {
      width: 30em;
      height: 30em; }

.contact .form {
  background-color: #b1d3ff;
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 10%;
  min-width: 80%;
  color: #153866; }
  .contact .form form {
    background-image: url("https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 6%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 10px #5ca2ff;
    max-width: 1200px; }
    .contact .form form .form__text {
      border-color: #e80000;
      border-style: solid;
      text-align: end;
      padding: 3%;
      font-size: 1vw; }
    .contact .form form .form__item-text {
      display: block;
      text-align: start;
      padding: 0% 10% 0% 50%; }
      .contact .form form .form__item-text-title {
        font-size: 3vw;
        padding: 3% 0% 5% 20%;
        text-align: center; }
    .contact .form form .form__item {
      width: 40%;
      border-style: none; }
    .contact .form form .form__button {
      margin-bottom: 15%;
      margin-top: 2%; }

#main__contacto {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  align-items: center;
  justify-content: stretch;
  background: linear-gradient(#fefefe, #b1d3ff); }
  #main__contacto #contacto-text {
    color: #153866;
    font-size: 1em; }
    #main__contacto #contacto-text h1 {
      font-size: 2em; }
  #main__contacto form {
    background-image: url("https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6%;
    margin: 2%;
    box-shadow: 7px 7px 10px #5ca2ff; }

@media screen and (max-width: 769px) {
  #main__contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    background-color: #b1d3ff; }
  #contacto-form {
    width: 100%;
    margin: 10% 0; } }

.main--nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3% 0%;
  gap: 3%; }
  .main--nosotros .main--nosotros-text {
    background-color: #e80000;
    color: white;
    padding: 7%;
    max-width: 800px;
    font-size: 1em; }
  .main--nosotros .main--nosotros-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .main--nosotros .main--nosotros-img #picture1 img {
      width: 30vw;
      margin: 2% 0px; }
    .main--nosotros .main--nosotros-img #picture2 img {
      width: 40vw;
      margin: 2% 0px; }
    .main--nosotros .main--nosotros-img #picture3 img {
      width: 30vw;
      margin: 2% 0px; }
    .main--nosotros .main--nosotros-img #picture4 img {
      width: 32vw;
      margin: 4% 0px; }
    .main--nosotros .main--nosotros-img #picture5 img {
      width: 35vw;
      margin: 2% 0px; }

h2 {
  color: #e80000;
  text-align: center;
  font-weight: bolder; }

.ubicacion--nosotros {
  color: #e80000;
  font-size: 3vw;
  margin: 30px; }
  .ubicacion--nosotros .ubicacion--nosotros__table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%; }
    .ubicacion--nosotros .ubicacion--nosotros__table .ubicacion--nosotros__item {
      display: flex;
      flex-direction: column; }
      .ubicacion--nosotros .ubicacion--nosotros__table .ubicacion--nosotros__item img {
        height: 10em;
        width: 15em; }
      .ubicacion--nosotros .ubicacion--nosotros__table .ubicacion--nosotros__item iframe {
        height: 10em;
        width: 15em; }

@media screen and (max-width: 992px) {
  .main--nosotros {
    margin: 3% 0%;
    gap: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main--nosotros .main--nosotros-img {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      height: fit-content;
      justify-content: stretch;
      align-content: stretch;
      justify-items: stretch;
      justify-content: center;
      padding: 4%; }
      .main--nosotros .main--nosotros-img #picture1 {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%; }
      .main--nosotros .main--nosotros-img #picture2 {
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
        width: 100%;
        display: block; }
      .main--nosotros .main--nosotros-img #picture3 {
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%; }
      .main--nosotros .main--nosotros-img #picture4 {
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: end;
        width: 100%;
        display: block; }
      .main--nosotros .main--nosotros-img #picture5 {
        grid-row-start: 5;
        grid-row-end: 6;
        width: 100%; }
  .ubicacion--nosotros .ubicacion--nosotros__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin: 3% 0%; } }
