.main--nosotros {
    @include flex-row-space-around;
    margin: $gap 0%;
    gap: $gap;

    &-text {
        background-color: $backround-header;
        color: $white;
        padding: 6%;
        max-width: 800px;
        font-size: 0.9em;

        .article__title {
            font-size: 3em;
            margin: 0.5em;
            padding-bottom: 7%;
        }
    }

    &-img {
        @include flex-column;
        justify-content: space-between;

        @for $i from 1 through 5 {}

        $pictures: (
            1:30vw,
            2:40vw,
            3:30vw,
            4:32vw,
            5:35vw,
        );

    @each $pic,
    $size in $pictures {
        #picture#{$pic} {
            @include pictureWidth($size);
        }
    }
}
}


h2 {
    color: $backround-header;
    text-align: center;
    font-weight: bolder;
}

.ubicacion--nosotros {
    color: $backround-header;
    font-size: $title;
    margin: 30px;

    .ubicacion--nosotros__table {
        @include flex-row-center;
        gap: $gap;

        .ubicacion--nosotros__item {
            @include flex-column;

            @each $var in img,
            iframe {
                #{$var} {
                    @include size(10em, 15em);
                    min-width: 280px;
                    min-height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {

    .main--nosotros {
        margin: $gap 0%;
        gap: $gap*5;
        @include flex-column;
        justify-content: center;

        .main--nosotros-img {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            height: fit-content;
            justify-content: stretch;
            align-content: center;


            @for $i from 1 through 5 {
                @if $i % 2==0 {
                    #picture#{$i} {
                        @include grid-row-Position($i, $i+1);
                        @include size(30vw, 85vw);
                        justify-self: end;
                        max-width: 500px;
                        max-height: 150px;
                        padding: $gap;


                    }
                }

                @else {
                    #picture#{$i} {
                        @include grid-row-Position($i, $i+1);
                        @include size(30vw, 80vw);
                        max-width: 400px;
                        max-height: 140px;
                        padding: $gap;
                    }
                }
            }


            padding: 4%;
        }
    }

    .ubicacion--nosotros {
        .ubicacion--nosotros__table {
            @include flex-column;
            justify-content: center;
            align-items: center;
            gap: $gap;
            margin: $gap 0%;

            .ubicacion--nosotros__item {
                justify-content: center;
                align-items: center;
            }

        }
    }

}