

.main--nosotros {
    @include flex-row-space-around;
    margin: $gap 0%;
    gap: $gap;
    
    .main--nosotros-text {
        background-color: $backround-header;
        color: $white;
        padding: 7%;
        max-width: 800px;
        font-size: 1em;
    }
    .main--nosotros-img {
        @include flex-column;
        justify-content: space-between;
        #picture1 img{
            width: 30vw;
            margin: 2% 0px;
        }
        
        #picture2 img{
            width: 40vw;
            margin: 2% 0px;
        }
        
        #picture3 img{
            width: 30vw;
            margin: 2% 0px;
        }
        
        #picture4 img{
            width: 32vw;
            margin: 4% 0px;
        }
        
        #picture5 img{
            width: 35vw;
            margin: 2% 0px;
        }
    }
}


h2{ 
    color: $backround-header;
    text-align: center;
    font-weight: bolder;
}
.ubicacion--nosotros{
    color: $backround-header;
    font-size: $title;
    margin: 30px;
    .ubicacion--nosotros__table {
        @include flex-row-center;
        gap: $gap;
        .ubicacion--nosotros__item {
            @include flex-column;
            @each $var in img,iframe{
                #{$var}{
                    @include size(10em,15em);
                } 
            }
        }
    }
}

@media screen and (max-width:992px) {

    .main--nosotros {
        margin: $gap 0%;
        gap: $gap*5;
        @include flex-column;
        justify-content: center;
        .main--nosotros-img {
            display:grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
            height: fit-content;
            justify-content: stretch;
            align-content: stretch;
            justify-items: stretch;
            
            @for $i from 1 through 5{
                @if $i % 2 == 0{
                    #picture#{$i}{
                        @include grid-row-Position($i,$i+1);
                        justify-self: end;
                        width: 100%;
                        display: block;
                    }
                }@else{
                    #picture#{$i}{
                        @include grid-row-Position($i,$i+1);
                        width: 100%;
                    }
                }
            }
            
            justify-content: center;
            padding: 4%;
        }
    }
    .ubicacion--nosotros{
        .ubicacion--nosotros__table {
            @include flex-column;
            justify-content: center;
            align-items: center;
            gap: $gap;
            margin: $gap 0%;
        }
    }

}
