@mixin flex-row-center{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

@mixin flex-row-space-around{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}