$backround-header: rgb(232, 0, 0);
$blue: #153866;
$ligth-blue: #b1d3ff;
$title: 3vw;
$white: white;
$gray: #e5e2e2;
$max-width: 1200px;
$font-size: 0.8em;
$degrade-ligth-blue: linear-gradient(#fefefe, $ligth-blue);
$shadow: 7px 7px 10px #5ca2ff;
$gap: 3%;